
body{
    margin: 0;
    padding: 0;
}

.samping {
    background-image: url("../img/smk4.jpg");
}

.subtitle span {
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    height: 3px;
}
.nav-bg-show {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}
@media (max-width:787px) {
    .menu {
        position: fixed;
        width: 300px;
        height: 100vh;
        top: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        z-index: 9;
        transition: all 0.5s ease-in;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
        transform: translateX(100%);
    }
    .menu.active {
        transform: translateX(0%);
    }
    .nav-open-btn,
    .nav-close-btn {
        display: inline-block;
    }
    .nav-open-btn {
        transform: translate(0, 5px);
    }
    .menu ul {
        display: block;
        padding: 10px;
    }
    .menu a {
        display: block;
        border-bottom: 1px solid #ebebeb;
    }
}